<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Todo Done</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos" [ngClass]="{ active: selectedTodo?.id === todo.id }">
            <th scope="row">{{ todo.id }}</th>
            <td (click)="selectTodo.emit(todo)">
                {{ todo.title }}
                <button *ngIf="todo.isBusiness" mat-button color="primary"> Business </button>
                <button *ngIf="todo.isPrivate" mat-button color="warn"> Private </button>
            </td>
        </tr>
    </tbody>
</table>