<div class="d-flex flex-row justify-content-between">
	<div></div>
	<div>
		<button mat-icon-button color="primary" aria-label="logo vixsystem">
			<img class="material-icons-round" src="/assets/logo.png" width="29px" />&nbsp;
		</button>
	</div>
	<div>
		<button mat-icon-button aria-label="button of notification" (click)="btnClickNotification()">
			<mat-icon matBadge="5" matBadgeColor="warn">email</mat-icon>
		</button>
		&nbsp;&nbsp;
		<button mat-icon-button aria-label="button of person">
			<mat-icon>person</mat-icon>
		</button>
	</div>
</div>
