<button (click)="btnClickHome()" mat-button class="menu-button button-menu btn">
    <mat-icon class="material-icons-round icons-menu icon">home</mat-icon>
    <span class="texts-menu">Home</span>
</button>
<button mat-button class="menu-button button-menu btn">
    <mat-icon class="material-icons-round icons-menu icon">settings</mat-icon>
    <span class="texts-menu">Settings</span>
</button>
<button (click)="btnClickSignIn()" mat-button class="menu-button button-menu btn">
    <mat-icon class="material-icons-round icons-menu icon">exit_to_app</mat-icon>
    <span class="texts-menu">Sign out</span>
</button>