<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <mat-card>
            <mat-card-content>
                <h1 class="display-1 d-flex justify-content-center">
                    Setting
                </h1>
                <span  class="display-10 d-flex justify-content-center mb-5">
                    Dashboard of Setting
                </span>
                <div class="col-12 mb-4 mt-4">
                    <button mat-raised-button color="primary" class="col-12 p-2">
                        Started
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>