
    <div *ngFor="let todo of todosDone$ | async" class="table-container">
        <div>{{ todo.id }}</div>
        <div>{{ todo.title }}</div>
        <div>{{ todo.isDone }}</div>
        <div>{{ todo.isBusiness }}</div>
        <div>{{ todo.isPrivate }}</div>
    </div>
    <div>-----------</div>
    <div *ngFor="let todo of todosNotDone$ | async" class="table-container">
        <div>{{ todo.id }}</div>
        <div>{{ todo.title }}</div>
        <div>{{ todo.isDone }}</div>
        <div>{{ todo.isBusiness }}</div>
        <div>{{ todo.isPrivate }}</div>
    </div>
    <div [hidden]="!load$ == false">
        <app-skeleton></app-skeleton>
    </div>

