    <div class="table-container">
        <app-list 
            [todos]="todosNotDone$ | async"
            class="todo-list"
            [selectedTodo]="selectedTodo$ | async"
            (selectTodo)="selectTodo($event)"
        ></app-list>
        <app-list 
            [todos]="todosDone$ | async"
            class="todo-list"
            [selectedTodo]="selectedTodo$ | async"
            (selectTodo)="selectTodo($event)"
        ></app-list>
    </div>
    <div [hidden]="!load$ == false">
        <app-skeleton></app-skeleton>
    </div>
